$fontFa: wMitra;
$fontEn: 'Lato', sans-serif;
$primary-color: #333;
$weis:#fff;
$color1: #b4b4b4;
$color2: #151515;
$color3: #848484;
$footer: #f1f1f1;
$gold: #af9f7b;
$lineClr: #ebebeb;
$facebook: #3b5998 ;
$twitter: #1da1f2;
%ul{padding:0;list-style:none;}
